node_modules/
coverage/
temp/
build/
application.log
.DS_Store
/*.env
logfile.log
uncaughtExceptions.log
.vscode
src/*.json
.idea
test.ts
notes.md
.nvmrc

# pixi environments
.pixi/*
!.pixi/config.toml

# XB
*/inspo_notes.md
xdocs/priv/*